body {
    font-family: Arial, sans-serif;
    background-color: #ffffff70;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffffa2;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(134, 26, 26);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #1eff00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #32CD32; /* cor de fundo ao passar o mouse */
    color: #ffffff; /* cor do texto ao passar o mouse */
    transform: scale(1.1); /* efeito de zoom ao passar o mouse */
  }
  